# Configuration options for the pulp database
database:
  name: "pulp"
  host: "localhost"
  port: "5434"
  user: "pulp"
  password: "password"

# Configuration options for the pulp server
server:
  url: "http://localhost:8087"
  content_url: "http://localhost:8088"
  username: "admin"
  password: "password"
  storage_type: "local"
  download_policy: "on_demand"
  content_path_prefix: "/api/pulp-content/"